{# templates/404.html #}

{% extends "home.html" %}

{% block content %}
    <div class="section-error">
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h3>Oops! Page not found</h3>
                    <h1><span>4</span><span>0</span><span>4</span></h1>
                </div>
                <h2>Nous vous avons vu prendre une mauvaise direction. Ça reste entre nous, ne vous inquiétez pas ;)</h2>
            </div>
        </div>
    </div>
{% endblock content %}
