    {# templates/includes/footer.html #}
    
    {% load static  tags %}

    <!-- start footer -->
    <footer class="footer flex-shrink-0">
      <div class="container">
        <div class="row footer_logo_row">
          <div class="col d-flex flex-row align-items-center justify-content-center">
            <div class="logo">
              <a href="#"><span>Gbêkê</span>Fm</a>
            </div>
          </div>
        </div>

        <div class="row footer_content_row">
        
          <!-- Tags -->
          <div class="col-lg-4">
            <div class="footer_title">Tags</div>
            <div class="footer_list">
              <div>
                {% for cat in categorie %}
                  <div><a href="#">{{ cat.cat|safe }}</a></div>
                {% endfor %}
              </div>
            </div>
          </div><!-- end Tags -->

          <!-- Latest Episodes -->
          <div class="col-lg-4">
            <div class="footer_title">Derniers informations</div>
            <div class="latest_container">
              
              <!-- Latest -->
              {% latest_podcast 3 %}

            </div>
          </div><!-- end Latest Episodes -->

          <!-- Gallery -->
          <div class="col-lg-4">
            <div class="footer_title">Evènements de la semaine</div>
            <div class="gallery d-flex flex-row align-items-start justify-content-start flex-wrap">
              
              <!-- Gallery Item -->
              <div class="gallery_item">
                <a class="colorbox" href="{% static "img/gallery_1_large.jpg" %}"><img src="{% static "img/gallery_1.jpg" %}" alt=""></a>
              </div>

            </div>
          </div><!-- end evenements -->
        </div>

        <div class="row footer_social_row">
          <div class="col">
            <div class="footer_social">
              <ul class="d-flex flex-row align-items-center justify-content-center">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        </br></br>
        &copy;<script>document.write(new Date().getFullYear());</script> Tous droits reservés.
      </div>
    </footer><!--./end footer -->