    {# templates/includes/script.html #}
    
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}

    <!-- javascript files -->
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/popper.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/scrollmagic.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.colorbox.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jplayer/jquery.jplayer.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jplayer/jplayer.playlist.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/isotope.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/parallax.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
    <!-- ./end javascript files -->