    {# templates/includes/script.html #}
    
    {% load static %}

    <!-- javascript files -->
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/popper.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/scrollmagic.min.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/jquery.colorbox.min.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/mediaelement-and-player.min.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/parallax.min.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/custom.js" %}">
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

                for (var i = 0; i < total; i++) {
                    new MediaElementPlayer(mediaElements[i], {
                        pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                        shimScriptAccess: 'always',
                        success: function () {
                            var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                            for (var j = 0; j < targetTotal; j++) {
                                target[j].style.visibility = 'visible';
                            }
                        }
                    });
                }
            });
    </script>
    <!-- ./end javascript files -->