    {# templates/includes/sidebar.html #}
    
    <!-- Categories -->
    <div class="sidebar_tags">
        <div class="sidebar_title">Categories</div>
        <div class="tags">
            <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                {% for c in categorie %}
                    <li>
                        <a href="#"> {{ c.cat }} </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div><!-- end Categories -->

    <!-- Tags --><!-- end Tags -->

    <!-- Archive -->
    <div class="sidebar_archive">
        <div class="sidebar_title">Archive</div>
        {% include "cast/podcast_archive_month.html" %}
    </div> <!-- ./end Archive -->