{# templates/cast/podcast_about.html #}
{% extends "index.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/about.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/about_responsive.css" %}">
{% endblock css %}

{% block content %}
    <!-- presentation -->
    <div class="intro section-about">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="intro-content text-center">
                        <div class="section-title text-center">
                            <h1>Qui sommes-nous ?</h1>
                        </div>

                        <div class="intro-text text-center">
                            <p>
                                Situé en Côte d'Ivoire, dans la région du Gbêkê précisement à Bouaké, Gbêkê Fm est une station de radio qui diffuse sur internet grace à la technologie plutôt que sur les ondes. C'est la première web radio dans la région du Gbéké . Elle existe depuis un an et est spécialisée dans le montage audio visuel, la publicité à travers ses directs, des couvertures médiatiques, diffusion de spot, communiqué en langue, émissions, des formations en techniques radio, journalisme, animation radio, reportage et autre.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end presentation -->

    <!-- milestones -->
    <div class="milestones">
        <div class="parallax-background parallax-window" data-parallax="scroll" data-image-src="{% static "img/milestones.jpg" %}" data-speed="0.8"></div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title light text-center">
                        <h1>Qui nous suit ?</h1>
                    </div>
                </div>
            </div>

            <div class="row milestones-row">
                <div class="col-xl-3 col-md-6">
                    <div class="milestone text-center">
                        <div class="milestone-content ml-auto mr-auto">
                            <div class="milestone-counter" data-end-value="55126">0</div>
                            <div class="milestone-icon"><img src="{% static "img/alarm-clock.svg" %}" alt=""></div>
                        </div>
                        <div class="milestone-title">Streamed Hours</div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="milestone text-center">
                        <div class="milestone-content ml-auto mr-auto">
                            <div class="milestone-counter" data-end-value="3520">0</div>
                            <div class="milestone-icon"><img src="{% static "img/speaker.svg" %}" alt=""></div>
                        </div>
                        <div class="milestone-title">Audio Episodes</div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="milestone text-center">
                        <div class="milestone-content ml-auto mr-auto">
                            <div class="milestone-counter" data-end-value="2056">0</div>
                            <div class="milestone-icon"><img src="{% static "img/film.svg" %}" alt=""></div>
                        </div>
                        <div class="milestone-title">Interviews</div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="milestone text-center">
                        <div class="milestone-content ml-auto mr-auto">
                            <div class="milestone-counter" data-end-value="25">0</div>
                            <div class="milestone-icon"><img src="{% static "img/television.svg" %}" alt=""></div>
                        </div>
                        <div class="milestone-title">Documentaires</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end milestones -->

    <!-- about us -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="about-container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                        <div class="about-content">
                            <div class="section-title"><h1>About Me</h1></div>
                            <div class="about-text">
                                <p>Situé en Côte d'Ivoire, dans la région du Gbêkê précisement à Bouaké, Gbêkê Fm est une station de radio qui diffuse sur internet grace à la technologie plutôt que sur les ondes. C'est la première web radio dans la région du Gbéké . Elle existe depuis un an et est spécialisée dans le montage audio visuel, la publicité à travers ses directs, des couvertures médiatiques, diffusion de spot, communiqué en langue, émissions, des formations en techniques radio, journalisme, animation radio, reportage et autre.</p>
                            </div>
                            <div class="social">
                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="about-image"><img src="{% static "img/man.png" %}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end about us -->
{% endblock content %}